*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

#custom config
application/config/custom_config.php

#root folder
node_modules
/test
.sass-cache
.gitattributes
ressources
/.htaccess
.env
*.code-workspace

#assets folder
assets/opendata
assets/dataset_backup/general/*.sql
assets/imgs/deputes_original/
assets/imgs/deputes_ogp/
assets/imgs/deputes_webp/
assets/imgs/deputes_nobg/
assets/imgs/deputes_nobg_import/
assets/imgs/deputes_nobg_webp/
assets/imgs/posts/
assets/imgs/captcha/*.jpg
assets/data/*.json
assets/data/professions/election_4/*.pdf
assets/data/professions/election_6/*.pdf
assets/data/*.txt
assets/css/bootstrap*