*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

#root folder
node_modules
test
.sass-cache
package-lock.json
.gitattributes
ressources
.htaccess

#script folder
scripts/*.zip
scripts/votes_individual/*.zip
scripts/architecture

#assets folder
assets/opendata
assets/imgs/deputes/*.png
assets/imgs/deputes_original/*.png
assets/imgs/deputes_ogp/*.png
assets/imgs/deputes_webp/*.webp
assets/imgs/deputes_nobg/*
assets/imgs/deputes_nobg_import/
assets/data/deputes_json.json
assets/imgs/deputes_nobg/
assets/imgs/deputes_nobg_import/
assets/css/bootstrap*
assets/imgs/deputes_nobg_webp/
assets/imgs/posts/
