#HTACCESS FOR LOCALHOST
<IfModule mod_rewrite.c>

  RewriteEngine on
  RewriteBase /datan

  # redirection of votes
  RewriteRule ^votes/vote_([0-9]{1,4}) ./votes/legislature-15/vote_$1 [R=301,L]
  RewriteRule ^votes/all/([0-9]{4})/([0-9]{2}) ./votes/legislature-15/$1/$2 [R=301,L]
  RewriteRule ^votes/all/([0-9]{4}) ./votes/legislature-15/$1 [R=301,L]
  RewriteRule ^votes/all ./votes/legislature-15 [R=301,L]

  # remove trailing slashes from URLs
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} (.*)/$
  RewriteRule ^(.+)/$ $1 [R,L]

  RewriteCond $1 !^(index\.php|resources|robots\.txt)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php/$1 [L,QSA]
  RewriteRule ^scripts/?$ ./scripts/admin.php/ [L]

  # remove trailing slashes from URLs
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} (.*)/$
  RewriteRule ^(.+)/$ $1 [R,L]


  SetEnv DATABASE_USERNAME username_example
  SetEnv DATABASE_PASSWORD password_example

</IfModule>

<IfModule mod_env.c>
    SetEnv CI_ENV production
</IfModule>
